.body {
    background-color: lightyellow;
    text-align: justify;
}
.header{
    width: 100%;
    padding: 30px;
    background-color: darkgreen;
    margin-bottom: 150px;
    color: white;
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
}
.h1{
    font-family: Georgia;
    font-size: 25px;
    font-weight: normal;
    color: black;
    padding: 5px;
}
.p{
    padding: 15px;
    line-height: 20px;
}